body{
    margin: 0px;
    height: fit-content;
    background-color:#000000;
}
@font-face {
    font-family: 'Unfair';
    src: url('../css/Unfair-Style2Rough.otf') format('opentype');
  }
  
:root{
    --branco: #ffffff;
}
.main_font{
    font-family: 'Unfair';
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 800px;
    width: 100%;
    height: 70px;
    background-color:rgba(0, 0, 0, 0.664); 
    position: fixed;
}
.logo{
    display: flex;
    flex-direction: row;
    align-content: center;
}
.header .logo{
    align-content: center;
    height: 70px;
    font-size: 30px;
    color: var(--branco);   
}
.header .logo{
    align-content: center;
    color: var(--branco);   
}
.logo .text_wm{
    align-content: center;
    height: 70px;
    font-size: 45px;
    color: var(--branco);
}
.logo .text_hunt{
    display: flex;
    align-content: center;
    justify-content: center;
    height: 70px;
    font-size: 67px;
    color: var(--branco);
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100%;
}
.navbar{
    display: flex;
    flex-direction: row;

}
.navbar a{
    font-size: 40px;
    color: white;
    text-decoration: none;

    display: flex;
    align-items: center;
}
a s{
    font-size: 15px;
    padding-right: 5px;
    padding-bottom: 3px;
}
.navbar a:hover{
    color:  rgb(209, 20, 20);
    font-size: 43px;
    transition: all 0.3s ease-in-out;
}
nav{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.login_button{
    padding: 5px;
    width: 130px;

    margin-left: 60px;
    margin-right: 0;

    font-size: 35px;
    font-weight: bolder;
    text-align: center;


    background-color: red;
    color: white;
    border-radius: 5px;
    z-index: 2;
}
.login_button:hover{
    background-color: rgb(209, 0, 0);
    transition: all ease-in-out 0.3s;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    height: 1000px;
    width: 100%;
    background-image: url(../images/bgPrincipal.jpg);
    background-size: cover;
    z-index: -2;
}
.banner .logo_place{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    top: 10                                                       0px;

}
.logo_place .logo{
    background-image: url(../images/FanKit/Logo/Hunt_Logo_Textured_White.png);
    height: 200px;
    width: 500px;
    background-size: cover;
    background-position: center;
}
.logo_place .title{
    font-size: 100px;
    padding: 0;
    font-size: 72px;
    color: #00000000;
    background: #ffffff;
    background-position: top;
    background: radial-gradient(circle,rgba(255, 255, 255, 1) 90%, rgba(0, 0, 0, 0.288) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo_place .line{
  width: 600px;
  height: 2px;
  background: -webkit-gradient(linear,left top, right top,from(transparent),color-stop(50%, #dae2e4),to(transparent));
  background: linear-gradient(to right,transparent 0%,#fff 50%,transparent 100%);
}
.descricao_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 700px;
    background-color: #000000;
    box-shadow: 0px -62px 57px 35px rgba(0,0,0,1);
    -webkit-box-shadow: 0px -62px 57px 35px rgba(0,0,0,1);
    -moz-box-shadow: 0px -62px 57px 35px rgba(0,0,0,1);
}
.descricao_container p{
    color: white;
    font-family: 'Unfair';
    font-size: 70px;
    text-shadow: 0px 0px 50px rgba(255, 255, 255, 0.915);
}
.descricao_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    font-family: 'Unfair';
    margin: 0;
}
.button_campo button{
    font-family: 'Unfair';
    font-size: 50px;
    padding: 2px;
    width: 400px;
    height: 70px;
    transition: all ease-in-out 0.3s;
    border-radius: 5px;
    border: 0;
    margin: 15px;
}
.button_campo button:hover{
    color: white;
    font-size: 53px;
    background-color: rgb(193, 193, 193);
    box-shadow: 0px -1px 8px 7px rgba(255,255,255,0.18);
    -webkit-box-shadow: 0px -1px 8px 7px rgba(255,255,255,0.18);
    -moz-box-shadow: 0px -1px 8px 7px rgba(255,255,255,0.18);
}
.descricao_title p{
    color: white;
    font-size: 100px;
    font-family: 'Unfair';
    margin: 0;
}
.desc_caixa_campo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 70px;
}
.desc_caixa{
    /* border: 1px solid white; */
    border-radius: 8px;
    height: 600px;
    width: 22%;
    background-color: #000000;

    box-shadow: 0px -1px 8px 9px rgba(255,255,255,0.18);
    -webkit-box-shadow: 0px -1px 8px 9px rgba(255,255,255,0.18);
    -moz-box-shadow: 0px -1px 8px 9px rgba(255,255,255,0.18);

    display: flex;
    flex-direction: column;

}
.desc_img1{
    width: 100%;
    height: 65%;
    border-radius: 8px 8px 0px 0px;
    background-image: url(../images/FanKit/Screenshots/Hunt_E3_2017_screenshot_barn_1080p.jpg);
    background-position: 460px;
    background-size: cover;
}
.desc_img2{
    width: 100%;
    height: 65%;
    border-radius: 8px 8px 0px 0px;
    background-image: url(../images/FanKit/Artwork/Melee.jpg);
    background-position: 423px;
    background-size: cover;
}
.desc_img3{
    width: 100%;
    height: 65%;
    border-radius: 8px 8px 0px 0px;
    background-image: url(../images/FanKit/Screenshots/Hunt_E3_2017_screenshot_fire_1080p.jpg);
    background-position: center;
    background-size: cover;
}
.line{
    width: 250px;
    height: 2px;
    margin: 0px 2px 10px 0px;
    background: -webkit-gradient(linear,left top, right top,from(transparent),color-stop(50%, #dae2e4),to(transparent));
    background: linear-gradient(to right,transparent 0%,#fff 50%,transparent 100%);
}
.line_title{
    width: 550px;
    height: 2px;
    margin: 0px 2px 40px 0px;
    background: -webkit-gradient(linear,left top, right top,from(transparent),color-stop(50%, #dae2e4),to(transparent));
    background: linear-gradient(to right,transparent 0%,#fff 50%,transparent 100%);
}
.desc_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 30%;
    background-color: #000000;
    box-shadow: 0px -30px 25px -11px rgba(0,0,0,1);
    -webkit-box-shadow: 0px -30px 25px -11px rgba(0,0,0,1);
    -moz-box-shadow: 0px -30px 25px -11px rgba(0,0,0,1);
}
.desc_text h2{
    color: rgb(255, 255, 225);
    font-family: 'Unfair';
    font-size: 38px;
    font-weight: bolder;
    margin: 10px 0px 0px 0px;
    text-shadow: 4px 4px 12px rgba(179, 179, 179, 0.6);
}
.desc_text p{
    color: rgba(0, 0, 0, 0.859);
    margin: 0px 20px 0px 20px;

    font-size: 22px;
    font-family: 'Crimson Text';
    text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.733);

    
}
.text_bg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;
    background-image: url('../images/bg-white.png');
    background-size: contain;
}
.registreBox{
    background-color: #000000;
    margin-top: 100px;
    width: 100%;
    height: 200px;
}
footer{
    text-shadow: 4px 4px 12px rgba(179, 179, 179, 0.6);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.802);
    margin: 0;
    height: 100px;
    width: 100%;
    box-shadow: 0px 53px 28px 54px rgba(255,255,255,0.56);
    -webkit-box-shadow: 0px 53px 28px 54px rgba(255,255,255,0.56);
    -moz-box-shadow: 0px 53px 28px 54px rgba(255,255,255,0.56);
}
footer p{
    margin: 20px 0px 0px 0px;
}
