body{
    margin: 0;
    background-image: url(../images/FanKit/Backgrounds/Background-2.jpg);
    background-size: cover;
    overflow: hidden;
    height: 100%;
}
@font-face {
    font-family: 'Unfair';
    src: url('../css/Unfair-Style2Rough.otf') format('opentype');

}
.main-font{
    font-family: 'Unfair';
}
.back-ground{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    width: 100%;
    height: 930px;
    z-index: -1;

    margin: 0;
}
.container-pai{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    box-shadow: 0px -1px 43px 9px rgba(255,255,255,0.18);
    -webkit-box-shadow: 0px -1px 43px 9px rgba(255,255,255,0.18);
    -moz-box-shadow: 0px -1px 43px 9px rgba(255,255,255,0.18);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.76);
    height: 500px;
    width: 300px;
    padding: 70px;
    padding-bottom: 60px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    z-index: 2;
}
.home-button-register{
    text-align: left;
    width: 100%;
    margin: 0;
    padding-top: 50px;
}
.home-button-register p{
    margin: 0;
    font-family: 'Unfair';
    font-size: 23px;
    width: fit-content;
    text-decoration: none;
    color: rgba(255, 255, 136, 0.788);
}
.home-button-register a{
    text-decoration: none;
}
.home-button-register p:hover{
    font-size: 24px;
    color: rgb(209, 20, 20);
    transition: all 0.5s;
}
.home-button{
    text-align: left;
    width: 100%;
    margin: 0;
    padding-bottom: 50px;
}
.home-button p{
    margin: 0;
    font-family: 'Unfair';
    font-size: 23px;
    width: fit-content;
    text-decoration: none;
    color: rgba(255, 255, 136, 0.788);
}
.home-button a{
    text-decoration: none;
}
.home-button p:hover{
    font-size: 24px;
    color: rgb(209, 20, 20);
    transition: all 0.5s;
}
.card-login{
    height: 100%;
    width: 800px;
    background-image: url(../images/FanKit/Artwork/At\ gun\ point.jpg);
    background-size: cover;
    background-position: -280px;

    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.error-box{
    pointer-events: none;
    margin-top: 60px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;

    gap: 40px;
    z-index: 3;
}
.error-text{
    font-weight: bolder;
    font-size: 22px;
    text-align: center;
    border-radius: 6px;
    color: white;
    background: #ff0000;
    background: linear-gradient(90deg,rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 56%, rgba(209, 23, 23, 1) 100%);    
    padding: 6px;
    padding-right: 25px;
    clip-path: polygon(88% 0, 100% 50%, 88% 100%, 0 100%, 0 0);
}
#email_error{
    opacity: 0;
}
#user_error{
    opacity: 0;
}
#psswd_error{
    margin-top: 35px;
    opacity: 0;
}
.card-regis{
    height: 100%;
    width: 800px;
    background-image: url(../images/FanKit/Artwork/Hunters\ in\ the\ swamp.jpg);
    background-size: cover;
    background-position: -280px;

    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.login-campo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;

    bottom: 10px;
    gap: 30px;
    margin: 0;
    margin-top: 50px;

    margin-bottom: 50px;
}
.login-campo .title{
    height: fit-content;
    margin-bottom: 30px;
}
.login-campo h1{
    color: white;
    text-align: center;
    font-family: 'Unfair';
    font-size: 60px;
    margin: 0;
}
.line{
    width: 320px;
    height: 2px;
    background: -webkit-gradient(linear,left top, right top,from(transparent),color-stop(50%, #dae2e4),to(transparent));
    background: linear-gradient(to right,transparent 0%,#fff 50%,transparent 100%);
}
.campo input{
    border: none;
    border-radius: 7px;

    height: 40px;

    font-size: 18px;
    font-family:helvetica;
    color: white;
    padding-left: 30px;
    outline: none;
}
.campo{
    text-align: left;
    display: flex;
    flex-direction: row;
    width: 330px;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.301);
}
.campo:focus-within{
    border-color: rgb(255, 255, 100);
}
.icon-email {
    background: url(../images/email-envelope-white-icon.png) no-repeat left;
    background-size: 21px;
    background-position: 3px;
    width: 300px;
}
.icon-user {
    background: url(../images/user-ico.png) no-repeat left;
    background-size: 25px;
    width: 300px;
}
.icon-pssw{
    background: url(../images/passw-ico.png) no-repeat left;
    background-size: 25px;
    padding-right: 40px;
    width: 262px;
}
.icon-eye{
    height: 40px;
    width: 40px;
    
}
.passw-rec {
    width: 340px;
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: space-around;  
    gap: 40px;
}
.passw-rec p{
    color: rgba(255, 255, 136, 0.788);
    text-align: right;
    text-decoration:underline;
    font-size: 15px;
    margin: 3px;
    font-family: helvetica;
}
input[type="checkbox"]{
    appearance: auto;
    border: none;
    border-radius: 50%;
    accent-color: rgba(255, 0, 0, 0.911);
}
.passw-rec input{
    height: 18px;
    width: 18px;
    border: none;
}
.passw-rec div{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: helvetica;
    color: white;
}
.login-campo button{
    width: 200px;
    padding: 5px;
    border: none;
    border-radius: 5px;

    color: white;
    background-color: rgba(255, 0, 0, 0.911);

    font-family: 'Unfair';
    font-size: 30px;
    margin-top: 20px;
}
.login-campo button:hover{
    background-color: rgba(187, 3, 3, 0.911);
    transition: all 0.3s;
}
.button-campo{
    display: flex;
    flex-direction: column;
   
}
.button-campo p{
    color: rgba(255, 255, 136, 0.788);
    text-align: right;
    text-decoration:underline;
    font-size: 13px;
    margin: 3px;
    font-family: helvetica;
    text-align: center;
}
